:host {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.format-actions {
    width: 200px;
    margin-right: 400px;
    .format-action {
        &.active {
            background-color: lightgrey;
        }
    }
}

button+button {
    margin-left: 5px;
}