<div class="format-actions">
    <button class="format-action" type="button" (click)="toggleBold()" [ngClass]="fontFormat.bold ? 'active' : ''"><b>B</b></button>
    <button class="format-action" type="button" (click)="toggleItalic()" [ngClass]="fontFormat.italic ? 'active' : ''"><i>I</i></button>
    <button class="format-action" type="button" (click)="toggleUnderline()" [ngClass]="fontFormat.underline ? 'active' : ''"><u>U</u></button>
</div>