:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f1f0f0;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}