.synonyms-container {
    width: 600px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    padding: 20px;
    margin: 0 auto;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 5px 0;
            cursor: pointer;
        }
    }
}